einops==0.8.0
jaxtyping==0.2.34
matplotlib==3.7.5
mediapy==1.2.2
numpy==1.24.3
open3d==0.18.0
opencv_python==4.10.0.84
Pillow==10.4.0
plyfile==1.1
pytorch3d==0.3.0
PyYAML==6.0.2
rich==13.9.2
scipy==1.14.1
setuptools==75.1.0
Shapely==2.0.6
skimage==0.0
torch==2.4.1
torch_scatter==2.1.2
torchtyping==0.1.5
torchvision==0.19.1
tqdm==4.66.5
trimesh==4.4.9
tyro==0.8.11
